.formControl {

}

.formControl.error input, .error textarea {
    border: 1px solid red;
}

.formControl.error span {
    color: #811212;
    font-size: 20px;
    font-weight: bold;
}
.formSummaryError {
    border: 1px solid red;
    padding: 15px;
    color: #811212;
}
.loginBlock {
    max-width: 1210px;
    margin: 0 auto;
    padding: 0 15px;
}