.userContent {
    max-width: 1210px;
    margin: 0 auto;
    padding: 0 15px;
}

.userTabs {
    display: flex;
    align-items: center;
    padding-bottom: 40px;
    margin-bottom: 25px;
    gap: 25px;
    flex-wrap: wrap;
    row-gap: 15px;
    border-bottom: 1px solid #d7dadd;
    user-select: none;
}

.userTab {
    cursor: pointer;
    color: #7d838c;
    text-align: center;
    font-size: 20px;
    line-height: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: color .3s;
}

.userTab:hover,
.userTabActive {
    color: #0e1218;
}

.userTab span {
    background: #eef2f6;
    color: #7d838c;
    border-radius: 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    padding: 1px 12px;
    min-width: 32px;
    transition: background .3s, color .3s;
}


.inputForm {

}

.inputFormComment {
    padding: 60px;
    border-radius: 25px;
    background: #eef2f6;
}

.inputFormTitle {
    color: #0e1218;
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 30px;
    font-weight: 600;
    user-select: none;
}

.inputFormBox {
    user-select: none;
}

.inputFormTextarea {
    margin-bottom: 25px;
    border-radius: 10px;
    width: 100%;
    padding: 16px 40px 16px 24px;
    background: unset;
    resize: unset;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    min-height: 100px;
    color: #0e1218;
    border: 1px solid #d7dadd;
}

.inputFormAttach {
    cursor: not-allowed;
    display: block;
    position: relative;
    margin-bottom: 30px;
    color: #afafaf;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    user-select: none;
}

.inputFormBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    background: #9981c2;
    cursor: pointer;
    border: none;
    padding-top: 15px;
    padding-right: 24px;
    padding-bottom: 15px;
    padding-left: 24px;
    font-size: 14px;
    color: #fff;
    font-weight: 600;
    line-height: 20px;
    transition: background .3s;
}