.header {
    background-color: #fff;
    padding: 16px 0;
    border-bottom: 1px solid #d7dadd;
    margin-left: -70px;
    position: sticky;
    top: 0;
    z-index: 100;
}
.headerBlock {
    max-width: 1210px;
    margin: 0 auto;
}
.headerContent {
    display: flex;
    align-items: center;
}
.headerLogo {
    margin-right: auto;
    display: flex;
}
.header img {
    margin-left: 50px;
}
.userIcon{
    display: flex;
    align-items: center;

}
.headerSearch {
    margin-right: 20px;
}
.iconGroup {
    margin-right: 35px;
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}
.headerNavLink {
    display: flex;
    position: relative;
    width: 24px;
    height: 24px;
    justify-content: center;
    align-items: center;
}
.userBlock {
    display: flex;
    align-items: center;
}
.loginBlock{
    display: flex;
    align-items: center;
    gap: 10px;
}
.headerUserImg {
    width: 40px;
    height: 40px;
    margin-right: 50px;
}
.headerImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
}
.headerUserBlock {
    max-height: 48px;
    position: relative;
}
.headerUserName {
}

.arrowDown {
    cursor: pointer;
    margin-left: 5px;
}
.btnOut{
    margin-left: 10px;
}