.header {
    display: flex;
    border: 1px solid #d7dadd;
    grid-area: h;
}
.headerBlock {
    display: flex;
    margin: 0 auto;
    width: 1500px;
    justify-content: space-between;
    align-items: center;
}
.header img {
    margin-left: 50px;
}
.iconGroup {
    cursor: pointer;
    display: flex;
    gap: 20px;
}
.userBlock {
    display: flex;
    align-items: center;
}
.loginBlock{
    align-items: center;
    margin-right: 50px;
    padding: 15px;
}
.loginBlock img {
    margin-right: 10px;
    border-radius: 50%;
    width: 25px;
    height: 25px;
}
.arrowDown {
    cursor: pointer;
    margin-left: 5px;
}
.btnOut{
    margin-left: 10px;
}