.nav {
    /*border-radius: 0 25px 25px 0;*/
    background-color: white;
    height: 100%;
    border-right: 1px solid #d7dadd;
    width: 100%;
    padding: 40px 12px;
    padding-top: 40px;
    padding-bottom: 40px;

}

.item a{
    text-decoration: none;
    color: #0e1218;
    align-items: center;
    gap: 16px;
    padding: 12px;
    border-radius: 10px;
    margin-left: 5px;
    display: flex;
    font-size: 14px;
    font-weight: 500;
}
.item a:hover,
.item a.active{
    color: #6d9985;
    background: #EEF2F6;
    transition: background .3s;
}
