.nav {
    grid-area: nav;
    background-color: #E5E5E5;
    padding: 10px;
}
.item {
    color: #808080;
    text-decoration: none;
    font-weight: bold;
}

.item a.active {
    color: rgb(12, 12, 12);
    font-weight: 900;
}