.postContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.postItems {
    border-radius: 25px;
    background-color: #eef2f6;
    position: relative;
    padding: 60px;
    margin-top: 25px;
}
.postItem {
    display: flex;
    align-items: flex-start;
    position: relative;
    gap: 20px;
}
.postItemTitle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 25px;
    margin-bottom: 25px;
    position: relative;
    width: 100%;
}
.postItemTitleLink {
    width: 80px;
    height: 80px;
    max-width: 80px;
    max-height: 80px;
    min-width: 80px;
    min-height: 80px;
    border-radius: 100%;
    position: relative;
}
.postItemTitleImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
    border: 1px solid #575759;
}
.postItemTitleImgStatus{
    width: 17px;
    height: 17px;
    background: #05bd00;
    position: absolute;
    top: 4px;
    right: 4px;
    display: block;
    border-radius: 100%;
    border: 4px solid #eef2f6;
}
.postItemTitleBox {
    margin-right: 45px;
    margin-bottom: 8px;
    color: #7d838c;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}
.postItemTitleName a{
    color: #0e1218;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    padding-right: 10px;
}
.postItemTitleDate {
    color: #7d838c;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}
.postItemTitleOption {
    position: absolute;
    top: 0;
    right: 0;
}
.postItemTitleOptionBtn {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: -8px;
    right: -8px;
    cursor: not-allowed;
}
.postItemContent {
    display: flex;
    margin-bottom: 25px;
}
.postItemContentText {
    color: #0e1218;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}
.postItemInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #d7dadd;
    gap: 25px;
    row-gap: 10px;
}
.postItemInfoBox {
    display: flex;
    align-items: center;
    gap: 12px;
}
.postItemInfoBoxList {
    align-items: center;
    display: flex;
}
.postItemInfoBoxListItem {
    width: 36px;
    height: 36px;
    border-radius: 100%;
    margin-left: -10px;
}
.postItemInfoBoxListItem:nth-child(1) {
    margin-left: unset;
}
.postItemInfoBoxListLink {
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
.postItemInfoBoxListText {
    color: #0e1218;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    background: #ff99c0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
.postItemInfoBoxListImg {
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
.postItemInfoBoxText {
    color: #7d838c;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}
.postItemInfoText {
    color: #7d838c;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}
.postItemsBox {
    display: flex;
    gap: 25px;
}
.postItemsBoxLike {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #6d9985;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}