.app-wrapper {
    display: flex;
    flex-direction: column;


    color: #0e1218;
    min-height: 100%;
}
img {
    vertical-align: top;
}
a, a:visited {
    text-decoration: none;
}

.wrapperMain {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.app-wrapper-content{
    display: flex;
    margin: 0 auto;
    width: 1200px;
    border: 1px solid #d7dadd;
    border-radius: 25px;
    align-content: center;

}

